/* tailwind css */
@import "tailwindcss";

@plugin 'tailwindcss-animate';

/*  */

/*  */

/* configs */

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-2xl: 87.5rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*  */

/*  */

/*  */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;700&display=swap") layer(base);

@theme {
  --font-ibm: IBM Plex Sans Arabic, sans-serif;
}
@layer base {
  body {
    @apply font-ibm;
  }
}

/*  */

/*  */

/*  */

/* shadcn */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);

  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);

  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);

  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);

  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(98.46% 0.0017 247.84);

  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);

  --radius: 0.625rem;
}
.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);

  --card: oklch(0.13 0.028 261.692);
  --card-foreground: oklch(0.985 0.002 247.839);

  --popover: oklch(0.13 0.028 261.692);
  --popover-foreground: oklch(0.985 0.002 247.839);

  --primary: oklch(0.985 0.002 247.839);
  --primary-foreground: oklch(0.21 0.034 264.665);

  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);

  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(98.46% 0.0017 247.84);

  --border: oklch(0.278 0.033 256.848);
  --input: oklch(0.278 0.033 256.848);
  --ring: oklch(0.446 0.03 256.802);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  */

/*  */

/*  */

/* custom styles */

@layer base {
  button,
  [role="button"] {
    cursor: pointer;
  }
}

@utility mt-elem {
  @apply mt-12;
}
